gh/hosts.yml
iterm2/AppSupport
menus
octave/octave-gui.ini*
op/config
spotify-tui
helix/runtime/grammars
helix/runtime/queries
helix/runtime/runtime
helix/runtime/themes
helix/rust-analyzer/rust-analyzer
QtProject
Autodesk
iterm/com.googlecode.iterm2.plist
karabiner/automatic_backups
.clj-kondo
.lsp
helix
broot/skins
himalaya
nushell/history.txt
broot
jellyfin
